/* Tondepu, Venkata Satya Yaswanth - 1001879613
Aleti, Sunil Kumar - 1001876963
Macharla, Sampath Kumar - 1001869024 */
.mma-content {
  padding: 2rem;
}
.mma-btn {
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
}
.mma-remove-access-btn,
.mma-reject-access-btn {
  background-color: #d11a2a;
}
.table-div {
  overflow-x: auto;
}
.mma-grant-access-btn,
.mma-approve-access-btn {
  background-color: #76c893;
}
@media (max-width: 768px) {
  .mma-content {
    padding-left: 10px;
  }
  .mma-approve-access-btn {
    margin-bottom: 5px;
  }
}
