.uf-content {
  padding: 2rem;
}
.upload-div {
  border-bottom: 1px solid gray;
}
.uploaded-image {
  max-width: 100%;
  max-height: 300px;
  background-size: cover;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
}
.btn-upload {
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #47525e;
}
.input-div {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.image-preview {
  display: flex;
  column-gap: 5rem;
  row-gap: 3rem;
  justify-content: center;
  align-content: center;
}
.uf-content-div {
  display: flex;
  padding-top: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}
.uf-display-file {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.333333%;
}
.uf-video {
  width: 400px;
}
@media (max-width: 768px) {
  .input-div,
  .image-preview {
    flex-direction: column;
  }
  .uf-display-file {
    flex: 0 0 100%;
  }
  .uf-video {
    width: 100%;
  }
}
