/* Tondepu, Venkata Satya Yaswanth - 1001879613
Aleti, Sunil Kumar - 1001876963
Macharla, Sampath Kumar - 1001869024 */
.vra-content {
  padding: 2rem;
}
.vra-filters {
  display: flex;
}
select {
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  font-size: 15px;
}
.reports-div {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}
#visit-reports,
#building-reports {
  padding-top: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.empty {
  display: flex;
  height: calc(100% - 220px);
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .mra-filters {
    justify-content: center;
  }
  .mra-content {
    padding: 1rem 10px;
  }
  .reports-div {
    justify-content: start;
  }
}
