/* Tondepu, Venkata Satya Yaswanth - 1001879613
Aleti, Sunil Kumar - 1001876963
Macharla, Sampath Kumar - 1001869024 */
.visitor {
  height: calc(100% - 70px);
  overflow-y: auto;
}
.visitor-title {
  background: #47525e;
  color: #ffffff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visitor-content-div {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-div {
  display: flex;
}
.left-div {
  margin-right: 1rem;
}
.second-row {
  padding-top: 2rem;
}
select {
  width: 250px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  font-size: 15px;
}
.pad-top-2 {
  padding-top: 2rem;
}
textarea {
  resize: none;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  padding: 0.5rem;
  width: 515px;
  height: 125px;
}
.pad-top {
  padding-top: 1rem;
}
.align-center {
  text-align: center;
}
input[type="submit"] {
  padding: 0.5rem 2rem;
  color: white;
  background-color: #47525e;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.date {
  width: 250px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1rem;
  font-size: 15px;
  text-align: left;
}
#start {
  width: 180px;
  height: 35px;
  font-size: 15px;
}
@media (max-width: 768px) {
  textarea {
    width: 100%;
  }
}
